<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html">
  <meta charset="UTF-8">
  <title>SIGNALEMENT D'UNE URGENCE</title>
    <!-- <link rel="stylesheet" href="test.css"> -->
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <%= stylesheet_link_tag    'form_issue', media: 'all' %>
    <meta name="viewport" content="width=device-width, user-scalable=yes" />
    <%= csrf_meta_tags %>
 </head>
<body>
<div id = "header">
    <a>
        <object data="/images/gendarmerie_logo.svg" type="image/svg+xml" style="height:30px"></object>
    </a>
    SIGNALEMENT D'UNE URGENCE
</div>

<!-- <div class="container"> -->
<div class="alert alert-success">
  <center>
    <p style="text-align:center;">
      Votre signalement a été pris en compte <br/>
      _<br/>
      Les secours sont alertés
    </p>
</center>
</div>

<section class="round">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
  <%= yield %>
</section>

<div class ="container" style="background:#DCDCDC;">

<%= form_for(@issue) do |f| %>
<input type="hidden" value="1" name="more">
<input id="typers" type="hidden" name="issue[typeofperson]" value="0">
    <div class = "row-g">
      <div class = "my-header" style="margin-top:10px">
        <div class="my-font-header">Je rajoute mon numéro de téléphone</div>
      </div>
      <div class="col-md-12">
        <%= f.telephone_field :phone, class: "test" %>
      </div>
    </div>

    <div class = "row-g">
      <div class = "my-header" style="margin-top:10px">
        <div class="my-font-header">Je rajoute mon Prénom</div>
      </div>
      <div class="col-md-12">
        <%= f.text_field :name, class: "test" %>
      </div>
    </div>

    <div class = "row-g">
      <div class = "my-header" style="margin-top:10px">
        <div class="my-font-header">Je rajoute mon nom de famille</div>
      </div>
      <div class="col-md-12">
        <%= f.text_field :last_name, class: "test" %>
      </div>
    </div>

    <div class = "row-g">
      <div class = "my-header" style="margin-top:10px">
        <div class="my-font-header">J'envoie une photo</div>
      </div>
      <div class="col-md-12">
        <%= f.file_field :picture, class: "test" %>
      </div>
    </div>

    <div class="actions">
        <button name="commit" type="submit" class="btn btn-primary btn-block" value="SIGNALER" style="width:100%; height:100px">
          <span class="glyphicon glyphicon-upload"></span> SIGNALER
        </button>
    </div>
  <% end %>
</div>
<div id = "header" style="text-align:center">
    <a>
        <object data="gendarmerie_logo.svg" type="image/svg+xml" style="height:30px"></object>
    </a>
    Vous êtes en contact avec les services d'urgence</br>
    ip : <%= session[:ip] %>
    localisation : <%= session[:lat] %> / <%= session[:pos] %>
</div>

<script>
$( document ).ready(function() {
  $('#vict').click(function(){
    $("#typers").val('1');
  });

  $('#tem').click(function(){
    $("#typers").val('0');
  });
});
</script>
</body>
</html>
